<%- include("_header") -%>

<main class="bg-primary">
	<div class="container bg-light p-3 rounded d-flex flex-column">
		<div class="row row-cols-1 row-cols-1 row-cols-sm-2 row-cols-md-3 d-flex justify-content-around">
			<div class="p-2 d-flex flex-column text-center col-md-6 justify-content-around">
				<h6 class="p-3">Erreur 404</h6>
				<p>
					La ressource que vous recherchez a été supprimée, a été renommée ou est provisoirement indisponible.
				</p>
				<h6>Causes les plus probables :</h6>
				<ul class="list-group-flush">
					<li class="list-group-item">L'URL contient une erreur typographique</li>
					<li class="list-group-item">Le répertoire ou fichier spécifié n'existe pas sur le serveur Web</li>
				</ul>
				<h6>Choses que vous pouvez essayer :</h6>
				<ul class="list-group-flush">
					<li class="list-group-item">Vérifiez l'adresse URL du navigateur</li>
					<li class="list-group-item">Utilisez la barre de navigation</li>
				</ul>
			</div>
		</div>
	</div>
</main>

<%- include("_footer") -%>