    <div class="container bg-primary p-3"></div>
	<footer class="footer mt-auto text-center text-black-80 bg-light p-3">
		<div class="p-2">
			<a class="facebook" href="https://www.facebook.com/people/Franz-Bouvet/100015446983317/" target=”_blank”>
				<svg width="24" height="24" viewBox="0 0 24 24" fill="blue" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.0023 0.0705566C18.6311 0.0705566 24.0047 5.44418 24.0047 12.0729C24.0047 18.0635 19.6156 23.029 13.8777 23.9294V15.5423H16.6744L17.2065 12.0729H13.8777V9.82246C13.8777 8.87329 14.3428 7.9471 15.8337 7.9471H17.3471V4.99339C17.3471 4.99339 17.188 4.96624 16.9262 4.93041C16.5151 4.87413 15.8508 4.79646 15.1528 4.76905C14.9896 4.76264 14.8245 4.75897 14.6604 4.75897C11.9189 4.75897 10.127 6.42055 10.127 9.42864V12.0729H7.07951V15.5423H10.127V23.9294C4.38906 23.029 0 18.0635 0 12.0729C0 5.44418 5.37363 0.0705566 12.0023 0.0705566Z" fill="#3B5998">
					</path>
				</svg>
			</a>
		
		</div>
		<p class="p-2">
			Email:fr.bouvet@free.fr
			Téléphone:+33 6 29 11 36 98
			&copy; 2022 - YC40
		</p>
    </footer>
  </div>

</body>

</html>