<%- include("_header") -%>

<main class="bg-primary">
	<div class="container bg-light p-3 rounded d-flex flex-column">
		<h3 class="text-center p-3">L'ORC 42</h3>
		<div class="row row-cols-1 row-cols-1 row-cols-sm-2 row-cols-md-3 d-flex justify-content-around">
			<div class="p-2 d-flex flex-column text-center col-md-6 justify-content-around">
				<p>
					L'ORC 42 est un catamaran rapide et confortable de 14m de long par 7,40 m de large avec dérives pour un poids de 5,8 t
				</p>
				<p>
					Ci-contre le bateau lors de la jauge (contrôle de stabilité)
				</p>
			</div>
			<div class="p-2 text-center">
				<img src="/image/bateau1.png" class="rounded mx-auto center" width="100%" height="auto" alt="contrôle de stabilité du bateau">
				<title>Contrôle de stabilité</title>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-1 row-cols-sm-2 row-cols-md-3 d-flex justify-content-around">
			<div class="p-2 d-flex flex-column text-center col-md-6 justify-content-around">
				<p>
					Fun Sailing vous fait naviguer à la voile sur un catamaran confortable et performant et vous fait découvrir des mouillages et des paysages 
extraordinaires.
				</p>
				<p>
					Le Class 40 N°65 a terminé 2ème de la Transat Plymouth New-York en 2016 et 3ème de la Transat Jacques Vabre 2015.
				</p>
			</div>
			<div class="p-2 text-center">
				<img src="/image/bateau2.png" class="rounded mx-auto center" width="100%" height="auto" alt="Arrivé de la transat Plymouth New-York en 2016">
				<title>Transat Plymouth New-York en 2016</title>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-1 row-cols-sm-2 row-cols-md-3 d-flex justify-content-around">
			<div class="p-2 d-flex flex-column text-center col-md-6 justify-content-around">
				<p>
					Après Quebec Saint-Malo en équipage en 2016 (9ème), Franz Bouvet a terminé 22ème de la Route du Rhum 2018, et participé aux régates du championnat Class 40 depuis 2017.
				</p>
				<p>
					Avec Sandrine Revil, Danielle Vanhove, et Franz Bouvet, le bateau a terminé 9ème du Défi Atlantique (Pointe à Pitre La Rochelle) en 2019.
				</p>
			</div>
			<div class="p-2 text-center">
				<img src="/image/bateau3.jpg" class="rounded mx-auto center" width="100%" height="auto" alt="Class40 N°65">
				<title>Class40 N°65</title>
			</div>
		</div>
	</div>
</main>

<%- include("_footer") -%>
