<%- include("_header") -%>


	<img src="/image/17-07 horta 2l.jpg" class="mx-auto center" width="100%" height="auto" alt="Photo de Franz Bouvet">
	<title>Franz Bouvet</title>
<%- include("_footer") -%>