<%- include("_header") -%>

<main class="bg-primary">
	<div class="container bg-light p-3 rounded d-flex flex-column">
		<div class="row row-cols-1 row-cols-1 row-cols-sm-2 row-cols-md-3 d-flex justify-content-around">
			<div class="p-2 d-flex flex-column text-center col-md-6 justify-content-around">
				<h5 class="p-3">Il faudrait un titre</h5>
				<p>
					Il faut voir le sourire ému et les yeux émerveillés de celui qui, après 23 jours en mer et en solitaire, arrive à Pointe-à-Pitre sous un soleil déclinant.
					Ce visage, c’est celui de Franz BOUVET, expert CLE depuis 2016, parvenu à destination de la Route du Rhum le 27 novembre dernier.
					Une première fois pour ce passionné de régates, qu’il n’est pas près d’oublier. 
				</p>
				<p>
					Après un parcours d’ingénieur à Centrale, Franz Bouvet exerce 18 ans dans le Génie civil chez Eiffage.
					C’est ainsi qu’il participe à la construction de nombreux tunnels, dont le célèbre qui passe sous la Manche.
					Une autre façon de traverser la mer ? Passionné de voile depuis son adolescence, il rejoint le domaine de l’expertise en 2008 et conjugue depuis avec agilité sa vie d’expert et sa vie de marin.
				</p>
				<p>
					S’il vit dans le sud de la France depuis 1995, Franz est originaire de région parisienne.
					C’est à l’occasion de vacances en Normandie qu’il commence à s’initier à la voile ;
					sur un dériveur dans un premier temps, puis avec de plus gros voiliers.
					Navigateur dans l’âme, Franz est également un amoureux de la compétition.
					Il la pratique depuis de nombreuses années, d’abord à l’occasion de petites régates.
					Elles durent une journée à une semaine, se font avec un équipage ou en solitaire.
					Régulièrement, l’expert parvient à se hisser sur le podium de ces courses qui réunissent pourtant amateurs et professionnels.
				</p>
				<p>
					Il y a deux ans, Franz ressent l’envie de participer à des régates plus importantes. Il achète alors un Class40, un voilier monocoque de 12,18m de long. Avec lui, il rejoint des compétitions plus longues, avant de courir finalement les 6 560 km de la Route du Rhum, qui fêtait en 2018 ses quarante ans. Après avoir fini dans le top 10 de la course qualificative lui permettant de concourir, notre expert s’inscrit à cette longue traversée en solitaire reliant Saint-Malo à Pointe-à-Pitre.
				</p>
				<p>
					Le 4 novembre 2018, ce sont 53 marins qui prennent la mer dans la catégorie Class40. 
					A l’arrivée, le 7 décembre, ils ne sont que 34 à s’être classés sur le tableau de la compétition.
					La faute notamment à trois nuits de vents très forts dans la première semaine de la course.
					Franz tient le cap : il n’envisage jamais de faire demi-tour.
					Il rejoint alors le sud, ses températures plus douces et ses alizés : « là ça avance presque tout seul, on se laisse porter ».
				</p>
				<p>
					23 jours seul en mer. Seuls les mails qu’il envoie et reçoit et les fichiers météo reçus par satellite le rattachent à la terre qu’il vient de quitter.
					Il termine la course 22ème, une place plus qu’honorable pour un marin expert à plein temps.
					La clé de sa réussite : une minutieuse préparation, une grande humilité et l’amour de la navigation et de la compétition qui l’anime.
					De sa grande aventure, il retient le souvenir particulier de son arrivée, de la terre qui apparait avec le monde venu applaudir.
				</p>
				<p>
					Et pour la suite ? Franz et son voilier Yoda n’ont pas fini de parcourir les océans, puisqu’il faudra ramener en Normandie ce bateau laissé pour l’heure dans les Antilles.
					D’autres régates sont à venir, avec un défi plus pragmatique à l’horizon : celui de trouver des sponsors pour pouvoir poursuivre sa passion.
				</p>
			</div>
			<div class="p-2 text-center">
				<img src="/image/21-07 fb ls.jpg" class="rounded mx-auto center" width="100%" height="auto" alt="Photo de Franz Bouvet">
				<title>Franz Bouvet</title>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-1 row-cols-sm-2 row-cols-md-3 d-flex justify-content-around">
			<div class="p-2 d-flex flex-column text-center col-md-6 justify-content-around">
				<h5>Liste des régates réalisé par le passé</h5>
				<ul class="list-group-flush">
					<li class="list-group-item">Quebec Saint-Malo 2016</li>
					<li class="list-group-item">Normandy Channel Race 2017 2018 2019</li>
					<li class="list-group-item">Armen 2017</li>
					<li class="list-group-item">Les Sables Horta Les Sables 2017</li>
					<li class="list-group-item">1000 milles des Sables 2018</li>
					<li class="list-group-item">Drheam Cup 2018 </li>
					<li class="list-group-item">Route du rhum 2018 </li>
					<li class="list-group-item">Défi Atlantique 2019 </li>
					<li class="list-group-item">Fastnet 2019</li>
					<li class="list-group-item">Les Sables Horta 2021</li>
					<li class="list-group-item">Fastnet 2021</li>
					<li class="list-group-item">Malouine 2021</li>
				</ul>
				
			</div>
		</div>
	</div>
</main>

<%- include("_footer") -%>