<%- include("_header") -%>

<main class="bg-primary">
	<div class="container bg-light p-3 rounded d-flex flex-column">
		<div class="row row-cols-1 row-cols-1 row-cols-sm-2 row-cols-md-3 d-flex justify-content-around">
			<div class="p-2 d-flex flex-column text-center col-md-6 justify-content-around">
				<h5 class="p-3">Recherche de sponsor</h5>
				<p>
					Le projet est à la recherche de partenaires souhaitant communiquer en interne ou externe.
				</p>
				<p>
					Franz Bouvet est à votre disposition pour répondre à toutes vos questions
				</p>
			</div>
		</div>
	</div>
</main>

<%- include("_footer") -%>